%h1 Listing destroys

%table
  %tr
    %th User
    %th
    %th
    %th

  - @destroys.each do |destroy|
    %tr
      %td= destroy.user
      %td= link_to 'Show', destroy
      %td= link_to 'Edit', edit_destroy_path(destroy)
      %td= link_to 'Destroy', destroy, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Destroy', new_destroy_path
